// @font-face {
//    font-family: "Comfortaa-Regular";
//    src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff");
//    font-weight: 400;
//    font-style: normal;
//    font-display: swap;
// }

// @font-face {
//    font-family: "Comfortaa-Bold";
//    src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
//    font-weight: 700;
//    font-style: normal;
//    font-display: swap;
// }

@font-face {
   font-display: swap;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
   font-display: swap;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 700;
   src: url("../fonts/Poppins-Bold.woff2") format("woff2");
}
